#include <common_res.h>

CENTER_BAR_V1_1 IDR_VERTEX_SHADER "shaders/vs_1_1/center_bar.obj"
ELLIPSE_P1_4 IDR_PIXEL_SHADER "shaders/ps_1_4/ellipse.obj"

TEXTURED_BAR_V1_1 IDR_VERTEX_SHADER "shaders/vs_1_1/textured_bar.obj"
TEXTURED_BAR_P1_4 IDR_PIXEL_SHADER "shaders/ps_1_4/textured_bar.obj"

TEXTURED_CENTER_BAR_V1_1 IDR_VERTEX_SHADER "shaders/vs_1_1/textured_center_bar.obj"
TEXTURED_ELLIPSE_P1_4 IDR_PIXEL_SHADER "shaders/ps_1_4/textured_ellipse.obj"

TEXTURED_CENTER_RECTANGLE_V1_1 IDR_VERTEX_SHADER "shaders/vs_1_1/textured_center_rectangle.obj"
TEXTURED_RECTANGLE_P2_0 IDR_PIXEL_SHADER "shaders/ps_2_0/textured_rectangle.obj"

CENTER_RECTANGLE_V1_1 IDR_VERTEX_SHADER "shaders/vs_1_1/center_rectangle.obj"
RECTANGLE_P1_4 IDR_PIXEL_SHADER "shaders/ps_1_4/rectangle.obj"

TEXTURED_LINE_V1_1 IDR_VERTEX_SHADER "shaders/vs_1_1/textured_line.obj"
TEXTURED_LINE_P1_4 IDR_PIXEL_SHADER "shaders/ps_1_4/textured_line.obj"